<IfModule mod_rewrite.c>
  RewriteEngine On

  # Set the base path for the rewrite rules
  # This should be the URL path that corresponds to this directory.
  RewriteBase /api/

  # Redirect all requests to the public directory
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>