Options -Multiviews
RewriteEngine On

# Serve existing files directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Allow any .php in this folder to execute and stop further rewrites
RewriteRule ^.*\.php$ - [L]
